<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879733035086-jr9roe9hv6otagfn30frbvesr4q6ibbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879733035086-jr9roe9hv6otagfn30frbvesr4q6ibbv</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ4pobZrfPP-T0toKpSTsOv9HTcP_P0lg</string>
	<key>GCM_SENDER_ID</key>
	<string>879733035086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.n30gu1.MedOnFlow</string>
	<key>PROJECT_ID</key>
	<string>medonflow</string>
	<key>STORAGE_BUCKET</key>
	<string>medonflow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879733035086:ios:82bc36a6958fd62448331f</string>
	<key>DATABASE_URL</key>
	<string>https://medonflow-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>